PORT=4000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=knowledge_hub
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@db:5432/knowledge_hub?schema=public

CRYPT_SALT=10
JWT_SECRET=secret123123
JWT_REFRESH_SECRET=secret123123
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
LOG_LEVEL=log
LOG_MAX_FILE_SIZE=1024
